body{
    background-color: antiquewhite;
}
form{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3bf83;
    border: 1px solid #ccc;
    border-radius: 99px;

}

.forma1{

    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.form2{
    font-weight: bold;
    margin-right: 30px;

}

div{
    margin-bottom: 20px;
}

input:invalid{
        background-color: rgb(134, 75, 75);
}
input:valid{
    background-color: rgb(129, 241, 125);
}



